@use '../partials/mixins';
@use '../partials/palette.scss';
@use '../partials/typography.scss';

// About me page 

.about {
	// display: flex;
	
	&__container {
		margin-top: 3rem;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		@include mixins.container;

		&--img {
			@include mixins.dimensions ($width: 60%, $height: 80%);
			border-radius: 12%;
			border: 4px solid palette.$secondary-background-color;
		}	

		&--header {
			@include mixins.headings
		}

		&--text {
			color: palette.$secondary-font-color;
			text-align: center;
			justify-content: center;
			@include mixins.dimensions ($width: 90%, $height: 60%);
		}
	}
}

// Desktop

@include mixins.desktop {
	.about {
		// display: flex;
		
		&__container {
			margin-top: 6vh;

			&--header {
				font-size: typography.$heading-desktop;
			}

			&--text {
				font-size:typography.$text-desktop;
			}
		}



	}
}