@use '../partials/mixins';
@use '../partials/palette.scss';

// Navigation bar

.nav {
	background-color: palette.$main-background-color;
	border-bottom: 2px solid palette.$details-color;
	box-shadow: 0.1rem 0.1rem 0.5rem 0 palette.$secondary-font-color;
	color: palette.$secondary-font-color;
	position: fixed;
	height: 8vh;
	z-index: 3;
	@include mixins.container;


	&__list {
		background-color: palette.$main-background-color;
		justify-content: space-around;
		text-align: end;
		@include mixins.container;

		&--link {
			letter-spacing: 0.1em;
			font-weight: 600;
			color: palette.$black;

			&:hover {
				border-left: 0.1rem solid palette.$secondary-background-color;
				border-right: 0.1rem solid palette.$secondary-background-color;
			}
		}
	}
}

// Media Queries

//Mobile 

@include mixins.mobile {
	.nav {
		align-items: flex-start;

		&__list {
			flex-direction: column;
			height: 100vh;

			&--hidden {
				display: none;
			}
		}

		&__hamburger {
			align-items: center;
			font-size: 2rem;
			color: palette.$main-font-color;
			padding: 1rem;
			position: absolute;
			right: 0;

			&:active {
				transform: scale(1.1);
				transform-origin: center;
				transform: rotate3d(0, 0, 1, 360deg);
				transition: all 0.25s ease-in;
			}
		}
	}
}

// Desktop

@include mixins.desktop {
	.nav__hamburger {
		display: none;
	}
}