@use '../partials/mixins';
@use '../partials/typography.scss';
@use '../partials/palette.scss';

// Skills section

.skills {
	width: 100%;
	
	&__header {
		margin: 6vh 0 1rem 0;
		@include mixins.headings;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		

		&--element {
			width: 50%;
			text-align: center;
			padding: 2rem 0rem 2rem 0rem;
			margin: 0.5rem;
			border-bottom: 0.1rem solid palette.$details-color;
			letter-spacing: 0.1em;

			&:hover {
				box-shadow: 0.2rem 0.2rem 0.5rem 0 palette.$details-color;
				border: none;
				border-radius: 1rem 0 1rem 0;
				transform: translateY(-5px);
				transition: all 0.25s ease-in;
			}
		}
	}
} 

// Desktop

@include mixins.desktop {
	.skills {

		&__header {
			@include mixins.headingsDesktop;
		}

		&__list {
			&--element {
				width: 30%;
				font-size: typography.$text-desktop;
				padding: 2rem 0 2rem 0;
			}
		}
	}
}