@use './partials/mixins.scss';
@use './partials/palette.scss';
@use './partials/typography.scss';

// Whole app styles

* {
	font-family: typography.$main-font;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

body {
	background-color: palette.$main-background-color;
}

.page__section {
	min-height: 100vh;
	display: flex;
}

// Navigation bar

.nav {
	background-color: palette.$main-background-color;
	border-bottom: 2px solid palette.$secondary-font-color;
	color: palette.$secondary-font-color;
	position: fixed;
	height: 6vh;
	z-index: 3;
	@include mixins.flex ($display: flex, $align-items:center, $width: 100%);

	&__list {
		background-color: palette.$main-background-color;
		justify-content: space-around;
		text-align: end;
		@include mixins.flex ($display: flex, $align-items:center, $width: 100%);

		&--link {
			font-weight: 600;
			color: palette.$main-font-color;
		}
	}
}

// Landing page

.landingpage__container {
	@include mixins.flex ($display: flex, $align-items:center, $width: 100%);
	flex-direction: column;
	justify-content: center;
	border: 1px solid palette.$secondary-background-color;
	background-color: palette.$secondary-background-color;
	
	
			
	&--title {
		color: palette.$tertiary-font-color;
		font-size: typography.$heading-desktop;
		text-shadow: 0.8rem 0.8rem 0.8rem palette.$secondary-font-color;
	}

	&--button {
		border:2px solid palette.$main-background-color;
		background-color: palette.$secondary-font-color;
		color: palette.$tertiary-font-color;
		padding: 0.8rem;
		border-radius: 2rem;
		margin-top: 3rem;

		&:hover {
			background-color: palette.$main-background-color;
			border: 2px solid palette.$secondary-font-color;
			color: palette.$secondary-font-color;
		}
	}
}

// About me page 

.about {
	display: flex;
	
	&__container {
		margin-top: 10rem;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		@include mixins.flex ($display: flex, $align-items:center, $width: 80%);

		&--img {
			@include mixins.dimensions ($width: 60%, $height: 80%);
			border-radius: 12%;
			border: 4px solid palette.$secondary-background-color;
		}	

		&--header {
			color: palette.$main-font-color;
			text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
			font-size: 3rem;
		}

		&--text {
			color: palette.$secondary-font-color;
			text-align: center;
			justify-content: center;
			@include mixins.dimensions ($width: 90%, $height: 60%);
		}
	}
}

// Media Queries

//Mobile 

@include mixins.mobile {
	.page__section {
		flex-direction: column;
	}

	.landingpage__container {
		height: 100vh;

		&--title {
			font-size: typography.$heading-mobile;
		}
	}

	.about__container {
    margin-top: 5rem;
		width: 100%;
	}
	
	.nav {
		align-items: flex-start;

		&__list {
			flex-direction: column;
			height: 100vh;

			&--hidden {
				display: none;
			}
		}

		&__hamburger {
			padding: 1rem;
			position: absolute;
			right: 0;
		}
	}


}

// Desktop

@include mixins.desktop {
	.nav__hamburger {
		display: none;
	}
}