@use './partials/mixins.scss';
@use './partials/palette.scss';

* {
	font-family: 'Roboto Mono', monospace;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

.page__section {
	min-height: 100vh;
	display: flex;
}

body {
	background-color: palette.$main-background-color;
}

nav {
	background-color: palette.$main-background-color;
	border-bottom: 2px solid palette.$secondary-font-color;
	color: palette.$secondary-font-color;
	position: fixed;
	height: 6vh;
	width: 100%;
	align-items: center;
	z-index: 3;
	display: flex;
}

.nav__list {
	background-color: palette.$main-background-color;
	display: flex;
	justify-content: space-around;
	text-align: end;
	align-items: center;
	width: 100%;
}

.navbar__styling {
	font-weight: 600;
	color: palette.$main-font-color;
}

@include mixins.mobile {
	.nav__list {
		flex-direction: column;
		height: 100vh;

		&--hidden {
			display: none;
		}
	}

	nav {
		align-items: flex-start;
	}

	.hamburger {
		padding: 1rem;
		position: absolute;
    right: 0;
	}
}

@include mixins.desktop {
	.hamburger {
		display: none;
	}
}

.landingpage__container {
	border: 1px solid palette.$secondary-background-color;
	background-color: palette.$secondary-background-color;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
		
	&--title {
		color: palette.$tertiary-font-color;
		font-size: 5rem;
		text-shadow: 0.8rem 0.8rem 0.8rem palette.$secondary-font-color;
	}

	&--button {
		border:2px solid palette.$main-background-color;
		background-color: palette.$secondary-font-color;
		color: palette.$tertiary-font-color;
		padding: 0.8rem;
		border-radius: 2rem;
		margin-top: 3rem;

		&:hover {
			background-color: palette.$main-background-color;
			border: 2px solid palette.$secondary-font-color;
			color: palette.$secondary-font-color;
		}
	}
}

.about {
	display: flex;
	margin-top: 8rem;

	&__container {
		height: 100%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&--img {
			height: 80%;
			width: 60%;
			border-radius: 12%;
			border: 4px solid palette.$secondary-background-color;
		}	

		&--header {
			color: palette.$main-font-color;
			text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
			font-size: 3rem;
		}

		&--text {
			color: palette.$secondary-font-color;
			text-align: center;
			justify-content: center;
			height: 60%;
			width: 90%;
		}
	}
}
