@use "./breakpoints.scss";
@use "./palette.scss";
@use "./typography.scss";

// Media queries
@mixin mobile {
	@media only screen and (max-width: breakpoints.$md) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width: (breakpoints.$sm + 1px)) and (max-width: breakpoints.$md) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width : (breakpoints.$md + 1px)) {
		@content;
	}
}

// Display 

@mixin container {
	display: flex;
	align-items: center;
	width: 100%;
}

@mixin dimensions($width, $height) {
	width: $width;
	height: $height;
}


// Mobile screens

@mixin headings {
	color: palette.$main-font-color;
	text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
	font-size: typography.$heading-mobile;
	letter-spacing: 0.1em;
	border-top: 0.1rem solid palette.$tertiary-font-color;
	text-align: center;
	word-break: break-word;
}

@mixin headingsDesktop {
	color: palette.$main-font-color;
	text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
	font-size: typography.$heading-desktop;
	letter-spacing: 0.2em;
	border-top: 0.1rem solid palette.$tertiary-font-color;
	text-align: center;
}

// Animations

@mixin animation {
	animation: bounce 1s infinite;

	@keyframes bounce {
		0%, 100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

@mixin pulse {
	animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes pulse {
		0%, 100% {
			opacity: 1;
		}
		50% {
			opacity: .5;
		}
	}
}
