@use "./breakpoints.scss";
@use "./palette.scss";
@use "./typography.scss";

// Media queries
@mixin mobile {
	@media only screen and (max-width: breakpoints.$md) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width : (breakpoints.$md + 1px)) {
		@content;
	}
}

// Display 

@mixin container {
	display: flex;
	align-items: center;
	width: 100%;
}

@mixin dimensions($width, $height) {
	width: $width;
	height: $height;
}


// Mobile screens

@mixin headings {
	color: palette.$main-font-color;
	text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
	font-size: typography.$heading-mobile;
}

@mixin headingsDesktop {
	color: palette.$main-font-color;
	text-shadow: 0.4rem 0.4rem 0.4rem palette.$secondary-background-color;
	font-size: typography.$heading-desktop;
}
