$main-font-color :rgb(133, 88, 111);
$secondary-font-color: rgb(134, 112, 112);
$tertiary-font-color: rgb(255, 255, 255);
$main-background-color: rgb(248, 237, 227);
$secondary-background-color: rgb(213, 180, 180);
$details-color: rgb(125, 160, 140);
$background-transparency: #ffffff7d;
$box-shadow-dark: rgba(0, 0, 0, 0.75);
$box-shadow-light: rgba(0, 0, 0, 0.554);